.qodo
.vs
*zip
**/.env

assets/images/*.*
!assets/images/logo.png
!assets/images/logo-gpl-v2.png
!assets/images/trident-logo.png
!assets/images/html-logo.png
!assets/images/xml-logo.png
!assets/images/hotkey-logo.png

private.md
.obsidian
Obsidian/
