# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Declare files that will always have CRLF line endings on checkout.
* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png filter= diff= merge=lfs -text
*.psd filter= diff= merge=lfs -text
*.jpg filter= diff= merge=lfs -text
*.ico binary
*.gif binary
*.obj binary
*.dll filter= diff= merge=lfs -text
*.exe filter= diff= merge=lfs -text
*.pdb binary
*.lib binary
*.ttf filter= diff= merge=lfs -text
*.rmskin filter= diff= merge=lfs -text
