*.code-workspace
private.md
Shotcut/*.yml

@Resources
!@Resources/fonts/rFont.ttf

Music/icons/*
!Music/icons/radio-net.png

Shortcut/icons/cache
Shortcut/inspiration
Shortcut/skin.yml

Wallhaven/downloadfile

Weather/images/inspiration
Weather/*.ps1


AudioWave
Battery
Downloader
Tinta
Bundle
