*.code-workspace
private.md
Shotcut/*.yml

@Resources/*
!@Resources/fonts/rFont.ttf
!@Resources/globals.inc

Shortcut/icons/cache
Shortcut/inspiration
Shortcut/skin.yml

Wallhaven/downloadfile/*

Weather/images/inspiration
Weather/*.ps1


Radio.net/icons/*
!Radio.net/icons/radio-net.png

Radio.net/43d2d8be9801d4615b447954c2daa250.webp

AudioWave
Battery
Downloader
Tinta
Bundle
