body {
	/* A cor principal que serve de ponto de partida para o navegador derivar outras cores, a menos que sejam explicitamente definidas. */
	scrollbar-base-color: #131314;
	/* Cor da superfície 3D (threedface) da caixa de rolagem (scroll box) e das setas. */
	scrollbar-face-color: #C1C1C1;
	/* Cor de fundo da área de arraste da barra (track). */
	scrollbar-track-color: #131314;
	/* Cor das setas direcionais localizadas nas pontas da barra. */
	scrollbar-arrow-color: #C1C1C1;
	/* Cor da borda de destaque superior e esquerda, e do trilho do slider (threedhighlight). */
	scrollbar-highlight-color: #C1C1C1;
	/* Cor da borda sombreada inferior e direita da caixa de rolagem e das setas (threedshadow). */
	scrollbar-shadow-color: #131314;
	/* Cor da borda de brilho 3D (threedlightshadow) externa da barra. */
	scrollbar-3dlight-color: #C1C1C1;
	/* Cor da borda de sombra 3D escura (threeddarkshadow) mais externa. */
	scrollbar-darkshadow-color: #131314;
}

html, body {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	background-color: #131314;
	text-align: center;
	cursor: default;
	-ms-user-select: none;
	    user-select: none;
}

img {
	/* Força o IE (MSHTML) a usar interpolação de alta qualidade */
	-ms-interpolation-mode: bicubic;
	/* Usa o algoritmo padrão de suavização (não força um modo que aumentaria o serrilhado) */
	image-rendering: optimizeQuality;
}

a {
	color: #7078df;
}




#main {
	/* padding-bottom: 88px; */
	margin: 0;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	/* height: calc( 100% - 20px );
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px ;
	width: calc( 100%  - 40px); */
}


#panel {
	width: 200px;
	height: calc( 100% - 5px );
	background-color: #1b1c1d;
	position: absolute;
	padding-top: 5px;
}

#panel .item-group {
	font-size: 13px;
	color: rgb( 107, 107, 119 );
	margin-bottom: 20px;
}

#panel .item-group .item {
	font-size: 14px;
	color: white;
}



#panel .item {
	width: calc( 100% - 26px );
	display: flex;
	padding-left: 14px;
	align-items: center;
	height: 32px;
	left: 6px;
	position: relative;
	border-radius: 4px;
}

#panel .item:hover {
	background-color: rgba(255, 255, 255, .05 );
	cursor: pointer;
}

#panel .item span {
	padding-left: 10px;
	margin-top: -2px;
}

#panel .item svg {
	width: 18px;
	height: 18px;
}

#panel .item.config {
	bottom: 5px;
	position: absolute;
}

